@import "tailwindcss";

:root {
  --primary: 248 249 244; /* blanc cassé */
  --secondary: 97 30 186; /* violet */
  --tertiary: ; /*  */
  --quaternary: *; /*  */
  --fifth: ; /*  */
}

/* 👇 mapping dynamique */
@theme {
  --color-primary: rgb(var(--primary));
  --color-secondary: rgb(var(--secondary));
  --color-tertiary: rgb(var(--tertiary));
  --color-quaternary: rgb(var(--quaternary));
  --color-fifth: rgb(var(--fifth));
}